[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kfp = "==2.5.0"
kubeflow-katib = "==0.16.0"
fastapi = "==0.111.0"
pydantic-settings = "*"

[dev-packages]
pre-commit = "==3.7.1"

[requires]
python_version = "3.10"
